<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="view-products"
        ><i style="margin-right: 5px" class="fa-solid fa-cart-plus"></i> m-Cart
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"><i class="fa-solid fa-house" style="margin-right:3px;"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="view-products"
              ><i style="margin-right: 3px" class="fa-solid fa-list-check"></i>List
              Products</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="products"
              routerLink="add-products"
              class="nav-link active"
              href="#"
              ><i style="margin-right: 2px" class="fa-regular fa-square-plus"></i
              >New Product</a
            >
          </li>
        </ul>
      </div>
  
       <!-- Right of the navbar Start -->
       <!-- <div class="d-flex">
        <ul class="navbar-nav">
          <li class="nav-item">
            
            <a class="nav-link" routerLink="/login"><i class="fa-solid fa-right-to-bracket" style="margin-right:2px;"></i>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register"><i class="fa-solid fa-right-from-bracket" style="margin-right:2px;"></i>Register</a>
          </li>
        </ul>
      </div> -->
      <!-- Right of the Navbar Ends -->
    </div>
  </nav>