<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="view-products"
    ><i style="margin-right: 5px" class="fa-solid fa-cart-plus"></i> m-Cart
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="view-products"
          ><i style="margin-right: 2px" class="fa-solid fa-list-check"></i>List
          Products</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="products"
          routerLink="add-products"
          class="nav-link"
          href="#"
          ><i style="margin-right: 2px" class="fa-regular fa-square-plus"></i
          >New Product</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="footer text-center text-lg-start bg-white text-muted">
  <!-- Copyright -->
  <strong>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
      Made with <i class="fa-base fa-solid fa-heart"></i> by
      <a class="text-reset fw-bold" href="https://github.com/kisho1131"
        >Sumit Kumar</a
      >
    </div>
  </strong>
  <!-- Copyright -->
</footer>
<!-- Footer -->
