<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- Footer -->
<!-- <footer class="footer text-center text-lg-start bg-white text-muted"> -->
  <!-- Copyright -->
  <!-- <strong>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
      Made with <i class="fa-base fa-solid fa-heart"></i> by
      <a class="text-reset fw-bold" href="https://github.com/kisho1131"
        >Sumit Kumar</a
      >
    </div>
  </strong> -->
  <!-- Copyright -->
<!-- </footer> -->
<!-- Footer -->
